html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

:root {
  --timeline-disco: linear-gradient(0deg, #833ab4 0%, #fd1d1d 25%, #fcb045 75% , #833ab4 100%);
}

html {
  font-family: "Open Sans", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #222;
  color: #fff;
}
p {
  word-break: normal;
}
a, a:visited {
  color: #fff;
}
a:hover, a:visited:hover {
  color: #ddd;
  text-decoration: underline;
}
h1 {
  font-weight: 600;
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  margin-bottom: .5rem;
}
h2 a {
  text-decoration: none;
}
.Header {
  padding: .5rem 1rem;
  background: #222;
}
.Project {
  display: flex;
  margin-left: 8rem;
  padding: 2rem 2rem 2rem 2rem;
  border-left: 4px solid var(--timeline-disco);
  position: relative;
}
.Project::after {
  content: '';
  position: absolute;
  width: 4px;
  left: -2px;
  top: 0;
  bottom: 0;
  background: var(--timeline-disco);
}
.Project-pip {
  position: absolute;
  left: -.5rem;
  top: 2.5rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 1rem;
  z-index: 1;
}
.Project-month {
  width: 6rem;
  margin-right: 1.5rem;
  line-height: 2rem;
}
.Project-contents {
  flex: 1 auto;
  line-height: 1.5rem;
}
.Project-thumbnails {
  flex: 1 0 auto;
  flex-wrap: wrap;
}
.Project-thumbnail {
  width: 350px;
  max-width: 100%;
  height: auto;
}
.Project-thumbnailWrapper {
  display: inline-block;
}
.Project-tech {
  margin: 1rem 0;
}
.DateAnchor {
  line-height: 2rem;
  width: 8rem;
  float: left;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  p {
    line-height: 2;
  }
  .Project {
    margin-left: 1rem;
    flex-direction: column;
  }
  .Project-month {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
  }
  .DateAnchor {
    width: 0;
    margin-top: 2rem;
    position: relative;
    left: 3rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .DateAnchor + .Project {
    padding-top: 6rem;
  }
  .DateAnchor + .Project .Project-pip {
    top: 6.5rem;
  }
}