:root {
    --background: #fff;
    --foreground: #000;
    --foreground-hover: #888;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #44444b;
        --foreground: #fff;
        --foreground-hover: #aaa;
    }
}

body {
    padding: 1rem;
    font: 16px/1.5 sans-serif;
    background: var(--background);
    color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 1rem;
}

h1, h2, h3 {
    line-height: 1.25;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    font-weight: 400;
    color: var(--foreground);
}

a:hover {
    color: var(--foreground-hover);
}

.intro {
    margin-bottom: 2rem;
}

.work section p {
    margin-left: 2rem;
}

.container {
    margin: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: 150px 1fr;
    }

    .work-container {
        margin-top: 3rem;
    }
}